@charset 'utf-8';

// Shared - Base
@import 'shared/base/utils';
@import 'shared/base/normalize';
@import 'shared/base/grid';
@import 'shared/base/typography';
@import 'shared/base/common';
@import 'shared/base/debugger';

// Shared - Component(s)
@import 'shared/components/component-name';

// Shared - Templates(s)
@import 'shared/templates/template-name';

// Overview - Partial(s)
@import 'overview/partial-name';

// Sample Page - Partial(s)
@import 'sample-page/partial-name';

#scene {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    // pointer-events: none;
  }